<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <h2>users</h2>
    <h3>management system</h3>
  </div>
  <div class="headings">
    <h2>COMPANY NAME</h2>
    <h3>BY RAHAT</h3>
  </div>
</header>


<%- include('partials/footer'); -%>