<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <h4>name</h4>
    <p>time</p>
  </li>
  <li class="recipe">
    <h4>name</h4>
    <p>time</p>
  </li>
  <li class="recipe">
    <h4>name</h4>
    <p>time</p>
  </li>
</ul>

<%- include('partials/footer'); -%>